<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://java.sun.com/xml/ns/persistence
        http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<persistence-unit name="test">
		<jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
		<properties>
		
			<property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
		
			<!-- General hibernate configuration -->
			<property name="hibernate.hbm2ddl.auto" value="create-drop" />
			<property name="hibernate.show_sql" value="false" />
			
			<!-- Envers auditing strategy: Every auditing log entry gets a column 
				for latest revision, which is updated for all revision beloning to the entity 
				on persist. This leads to sligthly slower persistence but to much faster 
				auditing querys. -->
			<property name="org.hibernate.envers.audit_strategy"
				value="org.hibernate.envers.strategy.ValidityAuditStrategy" />
			
			<!-- This set to true will cause Envers to add _mod columns to audited entitys, 
				which indicate if the corresponding column was changed in this revision -->
			<property name="org.hibernate.envers.global_with_modified_flag"
				value="true" />
				
			<!-- Instead of just storing a deleted revision with nulled attributes, save the object 
			before deletion in the delete-revision. This makes it easyer to look at deleted entitys. -->
			<property name="org.hibernate.envers.store_data_at_delete"
				value="true" />
				
		</properties>
	</persistence-unit>
</persistence>